body {
  background-image: url(../images/background.png);
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fff;
}
ul {
  list-style: none;
  padding-left: 0;
}
a {
  color: #fff;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 79px;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.logo-link {
  font-family: Ubuntu;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  padding-top: 18px;
  padding-bottom: 18px;
}
.logo-link:hover,
.head-registration-link:hover {
  color: #3cb878;
  transition: color 1s ease 0.1s;
}
.header-nav-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-navigation {
  margin-right: 26px;
  display: contents;
}
.header-navigation::after {
  content: "";
  width: 1px;
  height: 20px;
  opacity: 0.5;
  background-color: rgba(255, 255, 255, 0.9);
  margin-left: 25px;
}
.header-nav-list {
  display: flex;
  column-gap: 25px;
}
.head-registration-block {
  padding-left: 27px;
  color: #fff;
  font-family: Ubuntu;
  font-size: 14px;
}
.page-form-reg {
  color: #000;
  background-color: #fff;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
  width: 444px;
  margin: 54px auto 74px auto;
  position: relative; 
}
.page-form-reg::before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  top: 29px;
  background-color: rgba(60, 185, 120, 1);
}
.form-wrapper {
  margin: 0 60px;
  padding-top: 31px;
}
.title-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
}
.page-form-title {
  color: #434343;
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  display: inline;
  margin: 0;
}
.form-title-link {
  color: #3cb878;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
.form-title-link:hover {
  color: #01813F;
  text-decoration: underline;
}
.form-button {
  width: 49%;
  height: 48px;
  color: white;
  border: none;
  border-radius: 4px;
}
.facebook-reg {
  background-color: #305db8;
  background-image: url(../images/F.svg);
  background-repeat: no-repeat;
  background-position: 14px 11px;
}
.facebook-reg:hover {
  background-color: #022263;
  transition: background-color 1s ease 0.1s;
}
.google-reg {
  background-color: #df4a32;
  background-image: url(../images/G+.svg);
  background-repeat: no-repeat;
  background-position: 12px 14px;
}
.google-reg:hover {
  background-color: #ab1f09;
  transition: background-color 1s ease 0.1s;
}
.facebook-reg .social-sing {
  margin-left: 30px;
  padding-left: 18px;
  border-left: 1px solid rgba(10, 21, 46, 0.1);padding-top: 7px;
  padding-bottom: 7px;
  color: #FFF;
font-family: Ubuntu;
line-height: 16px;
}
.google-reg .social-sing {
  margin-left: 30px;
  padding-left: 30px;
  border-left: 1px solid rgba(10, 21, 46, 0.1);
}
.choise {
  display: inline-block;
  margin: 31px 2px 7px 2px;
  text-align: center;
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 14px;
  color: #848484;
}
.choise::before,
.choise::after {
  content: "______________________";
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 14px;
  color: #f2f2f2;
  position: relative;
  bottom: 5px;
}
.container {
  margin-top: 5px;
  position: relative;
}
.form-field {
  width: 322px;
  margin-top: 15px;
  border-radius: 4px;
  color: #434343;
  font-family: Ubuntu;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 19px;
  border: 1px solid #f2f2f2;
  outline: none;
}
.form-field:focus {
  fill: #fff;
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
}
.form-checkbox {
  color: #3cb878;
  font-family: Ubuntu;
  position: absolute;
  opacity: 0;
}
.form-checkbox-label {
  margin-top: 12px;
}
.form-checkbox + label {
  display: inline-flex;
  align-items: center;
}
.form-checkbox + label::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #adb5bd;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.form-checkbox:checked + label::before {
  width: 20px;
  height: 20px;
  border-color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../images/Vector.svg);
}
.form-checkbox-text {
  color: #434343;
  font-family: Ubuntu;
  font-size: 14px;
}
.form-checkbox-link {
  color: #3cb878;
font-family: Ubuntu;
font-size: 14px;
margin-left: 4px;
}
.form-checkbox-link:hover {
  color: #01813F;
  text-decoration: underline;
}
.submit-button {
  color: #fff;
  font-family: Ubuntu;
  line-height: 16px;
  padding: 16px 103px;
  margin-top: 20px;
  margin-bottom: 38px;
  border-radius: 4px;
  background: rgba(60, 184, 120, 0.8);
  border: none;
}
.submit-button:hover {
  background-color: #01813f;
  transition: background-color 1s ease 0.1s;
}
